@import "tailwindcss";

@theme {
  /* Color */
  --color-primary: #2c3930;
  --color-secondary: #3f4f44;
  --color-tertiary: #a27b5c;
  --color-quaternary: #9dc08b;
  --color-text-primary: #dcd7c9;

  /* Font */
  --default-font-family: "Fira Code", monospace;
  --font-fira: "Fira Code", monospace;
}

* {
  cursor: none;
  scrollbar-width: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}