@import url("https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600&family=Syncopate:wght@400;700&display=swap");
@import "tailwindcss";


@theme {
  --font-syncopate: "Syncopate", sans-serif;
  --font-geist: "Geist", sans-serif;
  --default-font-family: var(--font-geist);
}