@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@theme {
    --font-syne: 'Syne', sans-serif;
    --default-font-family: var(--font-syne);
}